[Desktop Entry]
Name=Balsa
Name[ca]=Balsa
Name[cs]=Balsa
Name[da]=Balsa
Name[de]=Balsa
Name[es]=Balsa
Name[et]=Balsa
Name[eu]=Balsa
Name[fi]=Balsa
Name[fr]=Balsa
Name[gl]=Balsa
Name[it]=Balsa
Name[ja]=•–•Î•µ
Name[ko]=πﬂªÁ
Name[nl]=Balsa
Name[no]=Balsa
Name[pl]=Balsa
Name[pt]=Balsa
Name[pt_BR]=Balsa
Name[ru]=Balsa
Name[sv]=Balsa
Name[wa]=Balsa
Comment=E-Mail utility
Comment[ca]=Programa gestor de correu
Comment[cs]=Program pro elektronickou poπtu
Comment[da]=E-post klientprogram
Comment[de]=E-Mail Programm
Comment[es]=Programa de correo electrÛnico
Comment[et]=Elektronposti programm
Comment[eu]=E-posta programa 
Comment[fi]=S‰hkˆpostiohjelma
Comment[fr]=Gestionnaire d'Email
Comment[gl]=Xestor de correo electrÛnico
Comment[it]=Programma di E-mail
Comment[ja]=≈≈ª“•·°º•Î•Ê°º•∆•£•Í•∆•£
Comment[ko]=¿Ã∏ﬁ¿œ ¿Ø∆ø∏Æ∆º
Comment[nl]=Elektronische post
Comment[no]=E-post verkt¯y
Comment[pl]=Klient poczty elektronicznej
Comment[pt]=Programa de correio electrÛnico
Comment[pt_BR]=Programa de correio eletrÙnico
Comment[ru]=¸Ã≈À‘“œŒŒ¡— –œﬁ‘¡
Comment[sv]=E-postprogram
Comment[wa]=Programe d' emilaedje
TryExec=balsa
Exec=balsa
Icon=gnome-balsa2.png
Terminal=0
Type=Application
