[Desktop Entry]
Name=Bluefish
Name[da]=Bluefish
Name[de]=Bluefish
Name[it]=Bluefish
Name[no]=Bluefish
Comment=Bluefish HTML editor
Comment[da]=En god html-editor
Comment[de]=Ein HTML-Editor
Comment[it]=Editor HTML BlueFish
Comment[no]=En bra html-editor
Exec=bluefish 
Icon=/usr/local/pixmaps/icon/bluefish.xpm
Terminal=false
MultipleArgs=false
Type=Application

