[Desktop Entry]
Name=Emacs
Name[es]=Emacs
Name[de]=Emacs
Comment=Emacs text editor
Comment[es]=Editor de textos Emacs
Comment[de]=Text Editor Emacs
TryExec=emacs
Exec=emacs
Icon=
Terminal=0
Type=Application
