[Desktop Entry]
Name=Emacs
Name[ja]=Emacs
Name[es]=Emacs
Name[de]=Emacs
Name[ko]=Emacs
Name[fr]=Emacs
Name[it]=Emacs
Name[no]=Emacs
Name[pt]=Emacs
Name[fi]=Emacs
Name[ru]=Emacs
Name[nl]=Emacs
Comment=Emacs text editor
Comment[ja]=Emacs•∆•≠•π•»•®•«•£•ø
Comment[es]=Editor de textos Emacs
Comment[de]=Emacs Texteditor
Comment[ko]=Emacs πÆº≠ ∆Ì¡˝±‚
Comment[fr]=Editeur de texte Emacs
Comment[it]=Editor di testo Emacs
Comment[no]=Teksteditoren Emacs
Comment[pt]=Editor de texto Emacs
Comment[fi]=Emacs text editor
Comment[ru]=Ù≈À”‘œ◊Ÿ  “≈ƒ¡À‘œ“ Emacs
Comment[nl]=Emacs tekst editor
TryExec=emacs
Exec=emacs
Icon=emacs.png
Terminal=0
Type=Application
