[Desktop Entry]
Name=Emacs
Name[es]=Emacs
Name[de]=Emacs
Name[ko]=Emacs
Name[fr]=Emacs
Name[it]=Emacs
Name[no]=Emacs
Name[pt]=Emacs
Comment=Emacs text editor
Comment[es]=Editor de textos Emacs
Comment[de]=Emacs Texteditor
Comment[ko]=Emacs 문서 편집기
Comment[fr]=Editeur de texte Emacs
Comment[it]=Editor di testo Emacs
Comment[no]=Teksteditoren Emacs
Comment[pt]=Editor de texto Emacs
TryExec=emacs
Exec=emacs
Icon=emacs.png
Terminal=0
Type=Application
