[Desktop Entry]
Name=Eterm
Name[bg]=Eterm
Name[ca]=Eterm
Name[cs]=Eterm
Name[da]=Eterm
Name[de]=Eterm
Name[el]=Eterm
Name[es]=Eterm
Name[eu]=Eterm
Name[fi]=Eterm
Name[fr]=Eterm
Name[ga]=Eterm
Name[gl]=Eterm
Name[it]=Eterm
Name[ja]=Eterm
Name[ko]=Eterm
Name[nl]=Eterm
Name[no]=Eterm
Name[pl]=Eterm
Name[pl]=Eterm
Name[pt]=Eterm
Name[pt_BR]=Eterm
Name[ro]=Eterm
Name[ru]=Eterm ÔÅÒÍÉÎÁÌ
Name[sk]=Eterm
Name[sv]=Eterm
Name[tr]=Eterm
Name[uk]=Eterm
Name[wa]=Eterm
Name[zh_CN.GB2312]=Eterm
Name[zh_TW.Big5]=Eterm
Comment=Eterm
Comment[bg]=Eterm Òåğìèíàë
Comment[ca]=Emulador de terminal Eterm
Comment[cs]=Terminálovı emulátor Eterm
Comment[da]=Eterm terminalemulering
Comment[de]=Terminalemulator: Eterm
Comment[el]=ĞñïóïìïéùôŞò Ôåñìáôéêïı Eterm
Comment[es]=Terminal Eterm
Comment[et]=Terminal Eterm
Comment[eu]=Eterm terminala
Comment[fi]=Eterm pääte-emulaattori
Comment[fr]=Terminal Eterm
Comment[ga]=Aithriseoir teirminéal Eterm
Comment[gl]=Emulador de terminal Eterm
Comment[it]=Programma di emulazione di terminale
Comment[ja]=Eterm¥¿¡¼¥ß¥Ê¥ë
Comment[ko]=Eterm ÅÍ¹Ì³Î
Comment[nl]=Eterm terminal emulator
Comment[no]=Eterm terminalemulator
Comment[pl]=Emulator terminala Eterm
Comment[pt]=Terminal Eterm
Comment[pt_BR]=Eterm
Comment[ro]=Emulatorul de terminal Eterm
Comment[ru]=üÍÕÌÑÔÏÒ ÔÅÒÍÉÎÁÌÁ Eterm
Comment[sk]=Eterm
Comment[sv]=Eterm terminalemulator
Comment[tr]=Eterm komutası
Comment[uk]=åÍÕÌÑÔÏÒ ÔÅÒÍ¦ÎÁÌÕ
Comment[wa]=Purnea di terminå Eterm
Comment[zh_CN.GB2312]=Eterm ÖÕ¶Ë»ú
Comment[zh_TW.Big5]=Eterm ²×ºİ¾÷
TryExec=Eterm
Exec=Eterm
Icon=gnome-eterm.png
Terminal=0
Type=Application
