[Desktop Entry]
Name=Eterm
Name[ja]=Eterm
Name[es]=Eterm
Name[de]=Eterm
Name[ko]=Eterm
Name[fr]=Eterm
Name[it]=Eterm
Name[no]=Eterm
Name[pt]=Eterm
Name[fi]=Eterm
Name[ru]=Eterm
Comment=Eterm
Comment[ja]=Eterm•ø°º•ﬂ• •Î
Comment[es]=Terminal Eterm
Comment[de]=Eterm
Comment[ko]=Eterm ≈ÕπÃ≥Œ
Comment[fr]=Terminal Eterm
Comment[it]=Eterm
Comment[no]=Eterm
Comment[pt]=Terminal Eterm
Comment[fi]=P‰‰temulaattori Eterm
Comment[ru]=Ù≈“Õ…Œ¡Ã Eterm
TryExec=Eterm
Exec=Eterm
Icon=gnome-term.png
Terminal=0
Type=Application
