[Desktop Entry]
Name=FileRunner
Name[cs]=FileRunner
Name[da]=FileRunner
Name[de]=FIleRunner
Name[el]=FileRunner
Name[fi]=FileRunner
Name[fr]=FileRunner
Name[it]=FileRunner
Name[lt]=FileRunner
Name[nn]=Filkøyrar
Name[no]=FileRunner
Name[pt_BR]=FileRunner
Name[ro]=FileRunner
Name[sk]=FileRunner
Name[sl]=ZaganjalecDatotek
Name[sv]=FileRunner
Name[zh_CN]=FileRunner
Name[zh_TW]=FileRunner
Comment=directory utility
Comment[cs]=Program pro práci s adresáøi
Comment[da]=Værktøj til håndtering af mapper
Comment[de]=Verzeichnistool
Comment[el]=Åñãáëåßï äéá÷åßñçóçò êáôáëüãùí
Comment[fi]=Hakemistotyökalu
Comment[fr]=Utilitaire de gestion de repertoire
Comment[it]=utility per gestione directory
Comment[lt]=katalogø narğyklë
Comment[no]=Verktøy for håndtering av mapper
Comment[pt_BR]=utilitário de diretórios
Comment[ro]=Utilitar directoare
Comment[sk]=Nástroj pre prieèinky
Comment[sl]=pripomoèek pri imenikih
Comment[sv]=Verktyg för hantering av mappar
Comment[zh_CN]=Ä¿Â¼¹¤¾ß
Comment[zh_TW]=¥Ø¿ı³B²z¤u¨ã
TryExec=fr
Exec=fr
Icon=/usr/local/pixmaps/icon/fcabinet-of.xpm
Terminal=false
MultipleArgs=false
Type=Application 
Categories=Application;Utility;
