[Desktop Entry]
Name=FileRunner
Name[cs]=FileRunner
Name[da]=FileRunner
Name[de]=FIleRunner
Name[el]=FileRunner
Name[fi]=FileRunner
Name[fr]=FileRunner
Name[it]=FileRunner
Name[lt]=FileRunner
Name[no]=FileRunner
Name[ro]=FileRunner
Name[sk]=FileRunner
Name[sv]=FileRunner
Comment=Directory utility
Comment[cs]=Program pro práci s adresáøi
Comment[da]=Værktøj til håndtering af mapper
Comment[de]=Verzeichnistool
Comment[el]=Åñãáëåßï äéá÷åßñçóçò êáôáëüãùí
Comment[fi]=Hakemistotyökalu
Comment[fr]=Répertoire d'utilitaires
Comment[it]=utility per gestione directory
Comment[lt]=katalogø narğyklë
Comment[no]=Verktøy for håndtering av mapper
Comment[ro]=Utilitar directoare
Comment[sk]=Nástroj pre prieèinky
Comment[sv]=Verktyg för hantering av mappar
TryExec=fr
Exec=fr
Icon=/usr/local/pixmaps/icon/fcabinet-of.xpm
Terminal=false
MultipleArgs=false
Type=Application 
