[Desktop Entry]
Name=gaspell Spell Checker
Name[cs]=Kontrola pravopisu gaspell
Name[da]=Stavekontrol
Name[de]=gaspell Rechtschreibeprüfung
Name[el]=ÅëåãêôŞò ïñèïãñáößáò gaspell
Name[fi]=gaspell-oikolukuohjelma
Name[fr]=Vérificateur orthographique gaspell
Name[it]=Controllo ortografico gaspell
Name[lt]=gaspell rağybos tikrintuvas
Name[nn]=gaspell stavekontroll
Name[no]=gaspell stavekontroll
Name[pt_BR]=Corretor ortográfico gaspell
Name[ro]=Verificator ortografie gaspell
Name[sk]=Kontrola pravopisu gaspell
Name[sl]=Èrkovalnik gaspell
Name[sv]=Stavningskontroll
Name[wa]=Coridjeu d' ortografeye gaspell
Name[zh_TW]=gaspell ÀË¦rµ{¦¡
Comment=GNOME front-end to aspell 
Comment[cs]=U¾ivatelské rozhraní GNOME pro aspell
Comment[da]=Grafisk grænseflade til aspell
Comment[de]=GNOME Frontend zu aspell
Comment[el]=EëåãêôŞò ïñèïãñáößáò GNOME gaspell
Comment[fi]=Gnomen käyttöliittymä aspellille
Comment[fr]=Interface graphique GNOME pour aspell
Comment[it]=front end GNOME per aspell
Comment[lt]=GNOME sàsaja aspell rağybos tikrintuvui
Comment[no]=GNOME frontend til aspell
Comment[pt_BR]=Front-end para gaspell
Comment[ro]=Interfaşã GNOME pentru aspell
Comment[sk]=GNOME rozhranie programu aspell
Comment[sl]=Vmesnik GNOME za aspell 
Comment[sv]=GNOME-gränssnitt till aspell
Comment[wa]=gaspell est ene eterface Gnome pol coridjeu d' ortografeye aspell
Comment[zh_TW]=aspell ªº GNOME ¤¶­±
TryExec=gaspell
Exec=gaspell
Terminal=false
Type=Application 
Categories=Application;Utility;
Categories=Application;Utility;
