[Desktop Entry]
Name=gaspell Spell Checker
Name[da]=gaspell stavekontrol
Name[no]=gaspell stavekontroll
Name[de]=gaspell Rechtschreibeprüfung
Name[sv]=gaspell stavningskontroll
Comment=GNOME front-end to aspell 
Comment[da]=Gnome frontend til aspell
Comment[no]=Gnome frontend til aspell
Comment[de]=Gnome Frontend zu aspell
Comment[sv]=Gnome gränssnitt till aspell
TryExec=gaspell
Exec=gaspell
Terminal=false
Type=Application 
