[Desktop Entry]
Name=gaspell Spell Checker
Name[pt_BR]=Corretor ortográfico gaspell
Name[da]=gaspell stavekontrol
Name[de]=gaspell Rechtschreibeprüfung
Name[el]=ÅëåãêôŞò ïñèïãñáößáò gaspell
Name[fi]=gaspell-oikolukuohjelma
Name[fr]=Vérificateur orthographique gaspell
Name[it]=Controllo ortografico gaspell
Name[lt]=gaspell rağybos tikrintuvas
Name[no]=gaspell stavekontroll
Name[sv]=gaspell stavningskontroll
Name[wa]=Coridjeu d' ortografeye gaspell
Comment=GNOME front-end to aspell 
Comment[pt_BR]=Front-end para gaspell
Comment[da]=GNOME frontend til aspell
Comment[de]=GNOME Frontend zu aspell
Comment[el]=EëåãêôŞò ïñèïãñáößáò GNOME gaspell
Comment[fi]=GNOME käyttöliittymä aspellille
Comment[fr]=Interface graphique GNOME à aspell
Comment[it]=front end GNOME per aspell
Comment[lt]=GNOME sàsaja aspell rağybos tikrintuvui
Comment[no]=GNOME frontend til aspell
Comment[sv]=GNOME gränssnitt till aspell
Comment[wa]=gaspell est ene eterface Gnome pol coridjeu d' ortografeye aspell
TryExec=gaspell
Exec=gaspell
Terminal=false
Type=Application 
