[Desktop Entry]
Name=The GIMP
Name[da]=GIMP
Name[de]=GIMP
Name[es]=El GIMP
Name[fi]=GIMP
Name[fr]=The GIMP
Name[it]=GIMP
Name[ja]=GIMP
Name[ko]=GIMP
Name[nl]=GIMP
Name[no]=GIMP
Name[pt]=O GIMP
Name[ru]=GIMP
Comment=GNU Image Manipulation Program
Comment[da]=GNU Image Manipulation Program
Comment[de]=GNU Image Manipulation Program
Comment[es]=Programa de manipulaciÛn de im·genes GNU
Comment[fi]=GNU Kuvank‰sittely ohjelma
Comment[fr]=Le Programme de Manipulation d'Images GNU
Comment[it]=Programma di Manipolazione Immagini GNU
Comment[ja]=GNU•§•·°º•∏¡‡∫Ó•◊•Ì•∞•È•‡
Comment[ko]=GNU ±◊∏≤ ∆Ì¡˝ «¡∑Œ±◊∑•
Comment[nl]=GNU beeldverwerkingsprogramma
Comment[no]=GNU Image Manipulation Program
Comment[pt]=Programa de EdiÁ„o de Imagens GNU 
Comment[fi]=GNU Kuvank‰sittely ohjelma
Comment[ru]=“œ«“¡ÕÕ¡ Õ¡Œ…–’Ã—√…… …⁄œ¬“¡÷≈Œ…— GNU
TryExec=gimp
Exec=gimp
Icon=gnome-gimp.png
Terminal=0
Type=Application
