[Desktop Entry]
Name=The GIMP
Name[ca]=El GIMP
Name[da]=GIMP
Name[de]=GIMP
Name[es]=El GIMP
Name[eu]=GIMPa
Name[fi]=GIMP
Name[fr]=The GIMP
Name[it]=GIMP
Name[ja]=GIMP
Name[ko]=±Ë«¡
Name[nl]=GIMP
Name[no]=GIMP
Name[pt]=O GIMP
Name[ru]=GIMP
Name[sv]=GIMP
Comment=GNU Image Manipulation Program
Comment[ca]=El programa de manipulaciÛ d'imatges GNU
Comment[da]=GNU Image Manipulation Program
Comment[de]=GNU Image Manipulation Program
Comment[es]=Programa de manipulaciÛn de im·genes GNU
Comment[eu]=GNU imaginak eraldatzeko programa
Comment[fi]=Kuvank‰sittelyohjelma
Comment[fr]=Le Programme de Manipulation d'Images GNU
Comment[it]=Programma di Manipolazione Immagini GNU
Comment[ja]=GNU•§•·°º•∏¡‡∫Ó•◊•Ì•∞•È•‡
Comment[ko]=GNU ±◊∏≤ ∆Ì¡˝ «¡∑Œ±◊∑•
Comment[nl]=GNU beeldverwerkingsprogramma
Comment[no]=GNU bildehÂndterings-program
Comment[pt]=Programa de EdiÁ„o de Imagens GNU 
Comment[ru]=“œ«“¡ÕÕ¡ Õ¡Œ…–’Ã—√…… …⁄œ¬“¡÷≈Œ…— GNU
Comment[sv]=GNU Image Manipulation Program
TryExec=gimp
Exec=gimp
Icon=gnome-gimp.png
Terminal=0
Type=Application
