[Desktop Entry]
Name=File Manager
Name[ja]=¥Õ¥¡¥¤¥ë¥Ş¥Í¡¼¥¸¥ã
Name[es]=Gestor de archivos
Name[de]=Dateimanager
Name[ko]=ÆÄÀÏ °ü¸®ÀÚ
Name[fr]=Gestionnaire de fichiers
Name[it]=File Manager
Name[no]=Filbehandler
Name[pt]=Gestor de Ficheiros
Name[ru]=äÉÓĞÅÔŞÅÒ æÁÊÌÏ×
Name[nl]=Bestandsbeheer
Comment=Graphical File Manager
Comment[ja]=¥°¥é¥Õ¥£¥«¥ë¤Ê¥Õ¥¡¥¤¥ë¥Ş¥Í¡¼¥¸¥ã
Comment[es]=Gestor de archivos gráfico
Comment[de]=Grafischer Dateimanager
Comment[ko]=±×¸² ÀÎÅÍÆäÀÌ½ºÀÇ ÆÄÀÏ °ü¸®ÀÚ
Comment[fr]=Gestionnaire de fichiers
Comment[it]=Graphical File Manager
Comment[no]=Grafisk filbehandler
Comment[pt]=Gestor de ficheiros gráfico
Comment[ru]=çÒÁÆÉŞÅÓËÉÊ äÉÓĞÅÔŞÅÒ æÁÊÌÏ×
Comment[nl]=Grafisch bestandsbeheer
TryExec=gmc
Exec=gmc
Icon=gnome-folder.png
Terminal=0
Type=Application
