[Desktop Entry]
Name=File Manager
Name[es]=File Manager
Name[de]=Dateimanager
Name[ko]=파일 관리자
Name[fr]=Gestionnaire de fichiers
Name[it]=File Manager
Name[no]=Filbehandler
Comment=Graphical File Manager
Comment[es]=Graphical File Manager
Comment[de]=Grafischer Dateimanager
Comment[ko]=그림 인터페이스의 파일 관리자
Comment[fr]=Gestionnaire de fichiers
Comment[it]=Graphical File Manager
Comment[no]=Grafisk filbehandler
TryExec=gmc
Exec=gmc
Icon=gnome-folder.png
Terminal=0
Type=Application
