[Desktop Entry]
Name=GXAnim
Name[da]=GXAnim
Name[no]=GXAnim
Name[de]=GXAnim
Comment=Video player
Comment[da]=Video-afspiller
Comment[no]=Video-avspiller
Comment[de]=Video-Abspielprogramm
Exec=gxanim 
Icon=/usr/local/pixmaps/icon/vidcam.xpm
Terminal=false

