[Desktop Entry]
Name=GXAnim
Name[da]=GXAnim
Name[de]=GXAnim
Name[it]=GXAnim
Name[lt]=GXAnim
Name[no]=GXAnim
Name[sv]=GXAnim
Comment=Video player
Comment[da]=Video-afspiller
Comment[de]=Video-Abspielprogramm
Comment[it]=Visualizzatore filmati
Comment[lt]=Vaizdo grotuvas
Comment[no]=Videospiller
Comment[sv]=Videoprogram
TryExec=gxanim
Exec=gxanim
Icon=/usr/local/pixmaps/icon/vidcam.xpm
Terminal=false
MultipleArgs=false
Type=Application 
