[Desktop Entry]
Name=GXAnim
Name[cs]=GXAnim
Name[da]=GXAnim
Name[de]=GXAnim
Name[el]=GXAnim
Name[fi]=GXAnim
Name[fr]=GXAnim
Name[it]=GXAnim
Name[lt]=GXAnim
Name[no]=GXAnim
Name[pt_BR]=GXAnim
Name[ro]=GXAnim
Name[sk]=GXAnim
Name[sl]=GXAnim
Name[sv]=GXAnim
Comment=Video player
Comment[cs]=Videopøehrávaè
Comment[da]=Videoafspiller
Comment[de]=Video-Abspielprogramm
Comment[el]=ÁíáðáñáãùãÞ Âßíôåï
Comment[fi]=Videonkatseluohjelma
Comment[fr]=Lecteur de vidéos
Comment[it]=Visualizzatore filmati
Comment[lt]=Vaizdo grotuvas
Comment[no]=Videospiller
Comment[pt_BR]=Leitor de vídeo
Comment[ro]=Player video
Comment[sk]=Prehrávaè videa
Comment[sl]=Video predvajalnik
Comment[sv]=Videoprogram
TryExec=gxanim
Exec=gxanim
Icon=/usr/local/pixmaps/icon/vidcam.xpm
Terminal=false
MultipleArgs=false
Type=Application 
