[Desktop Entry]
Name=GXAnim
Name[da]=GXAnim
Name[de]=GXAnim
Name[el]=GXAnim
Name[fi]=GXAnim
Name[fr]=GXAnim
Name[it]=GXAnim
Name[lt]=GXAnim
Name[no]=GXAnim
Name[pt_BR]=GXAnim
Name[sk]=GXAnim
Name[sv]=GXAnim
Comment=Video player
Comment[da]=Video-afspiller
Comment[de]=Video-Abspielprogramm
Comment[el]=Αναπαραγωγή Βίντεο
Comment[fi]=Videonkatseluohjelma
Comment[fr]=Lecteur de vidιos
Comment[it]=Visualizzatore filmati
Comment[lt]=Vaizdo grotuvas
Comment[no]=Videospiller
Comment[pt_BR]=Leitor de vνdeo
Comment[sk]=Prehrαvaθ videa
Comment[sv]=Videoprogram
TryExec=gxanim
Exec=gxanim
Icon=/usr/local/pixmaps/icon/vidcam.xpm
Terminal=false
MultipleArgs=false
Type=Application 
