[Desktop Entry]
Name=Imlib Configuration Options
Name[es]=Imlib Configuration Options
Name[de]=Imlib Configuration Options
Name[ko]=Imlib Configuration Options
Name[fr]=Configuration Imlib
Name[it]=Imlib Configuration Options
Name[no]=Imlib Configuration Options
Comment=Image loading and display settings
Comment[es]=Image loading and display settings
Comment[de]=Image loading and display settings
Comment[ko]=Image loading and display settings
Comment[fr]=Configuration de l'affichage et du chargement des images
Comment[it]=Image loading and display settings
Comment[no]=Image loading and display settings
TryExec=imlib_config
Exec=imlib_config
Icon=gnome-note.png
Terminal=0
Type=Application
