[Desktop Entry]
Name=Imlib Configuration Options
Name[es]=Imlib Configuration Options
Name[de]=Imlib Einstellungen
Name[ko]=Imlib 설정 옵션
Name[fr]=Configuration Imlib
Name[it]=Imlib Configuration Options
Name[no]=Imlib-konfigurering
Name[pt]=Configura豫o da Imlib
Comment=Image loading and display settings
Comment[es]=Image loading and display settings
Comment[de]=Einstellungen bzgl. des Ladens und Darstellens von Grafiken
Comment[ko]=그림 읽기와 보여주기 관련 설정
Comment[fr]=Configuration de l'affichage et du chargement des images
Comment[it]=Image loading and display settings
Comment[no]=Innstillinger for lesing og visning av bilder
Comment[pt]=Configura豫o do carregamento e visualiza豫o de imagens
TryExec=imlib_config
Exec=imlib_config
Icon=gnome-note.png
Terminal=0
Type=Application
