[Desktop Entry]
Name=Lynx
Name[da]=Lynx
Name[de]=Lynx
Name[it]=Lynx
Name[lt]=Lynx
Name[no]=Lynx
Name[sv]=Lynx
Comment=Text based web browser
Comment[da]=Tekstbaseret webbetjener
Comment[de]=Textbasierter Webbrowser
Comment[it]=Browser web testuale
Comment[lt]=Tekstinë web narðyklë
Comment[no]=Tekstbasert nettleser   
Comment[sv]=Textbaserad webbläsare
TryExec=lynx
Exec=lynx
Icon=gnome-html.png
Terminal=true
MultipleArgs=false
Type=Application 
X-GNOME-SetIcon=false
