[Desktop Entry]
Name=Lynx
Name[da]=Lynx
Name[de]=Lynx
Name[it]=Lynx
Name[lt]=Lynx
Name[no]=Lynx
Name[sv]=Lynx
Comment=Text based web browser
Comment[da]=Tekstbaseret webbetjener
Comment[de]=Textbasierter Webbrowser
Comment[it]=Browser web testuale
Comment[lt]=Tekstinë web narðyklë
Comment[no]=Tekstbasert nettleser   
Comment[sv]=Textbaserad webbläsare
TryExec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Exec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Icon=/usr/share/pixmaps/gnome-html.png
Terminal=false
MultipleArgs=false
Type=Application 
