[Desktop Entry]
Name=Lynx
Name[cs]=Lynx
Name[da]=Lynx
Name[de]=Lynx
Name[el]=Lynx
Name[fi]=Lynx
Name[fr]=Lynx
Name[it]=Lynx
Name[lt]=Lynx
Name[nn]=Lynx
Name[no]=Lynx
Name[pt_BR]=Lynx
Name[ro]=Lynx
Name[sk]=Lynx
Name[sl]=Lynx
Name[sv]=Lynx
Name[wa]=Lynx
Name[zh_TW.Big5]=Lynx
Comment=Text based web browser
Comment[cs]=Textovı webovı prohlí¾eè
Comment[da]=Tekstbaseret netsurfningsprogram
Comment[de]=Textbasierter Webbrowser
Comment[el]=ÖõëëïìåôñçôŞò Äéêôıïõ êáôÜóôáóçò ôåñìáôéêïı
Comment[fi]=Tekstipohjainen Internet-selain
Comment[fr]=Navigateur Web en mode texte
Comment[it]=Browser web testuale
Comment[lt]=Tekstinë web narğyklë
Comment[nn_NO]=Tekstbasert nettlesar   
Comment[no]=Tekstbasert nettleser   
Comment[pt_BR]=Navegador da Internet baseado em texto
Comment[ro]=Browser web în mod text
Comment[sk]=Textovı prehliadaè WWW
Comment[sl]=Tekstovni spletni brskalnik
Comment[sv]=Textbaserad webbläsare
Comment[wa]=Lynx est on betcheu waibe è môde tecsse
Comment[zh_TW.Big5]=¤å¦r¼Ò¦¡ºô­¶ÂsÄıµ{¦¡
TryExec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Exec=rxvt -title Lynx -e lynx ~/.netscape/bookmarks.html
Icon=/usr/share/pixmaps/gnome-html.png
Terminal=false
MultipleArgs=false
Type=Application 
