[Desktop Entry]
Name=Netscape
Name[es]=Netscape
Name[de]=Netscape
Name[ko]=넷스케잎
Name[fr]=Netscape
Name[it]=Netscape
Name[no]=Netscape
Comment=Netscape browser
Comment[es]=Navegador Netscape
Comment[de]=Netscape Navigator
Comment[ko]=넷스케입 웹브라우저
Comment[fr]=Netscape Navigateur
Comment[it]=Netscape Navigator
Comment[no]=Netscape webleser
TryExec=netscape
Exec=netscape
Icon=netscape.png
Terminal=0
Type=Application
