[Desktop Entry]
Name=Netscape
Name[es]=Netscape
Name[de]=Netscape
Name[ko]=넷스케잎
Comment=Netscape browser
Comment[es]=Navegador Netscape
Comment[de]=Netscape Navigator
Comment[ko]=넷스케입 웹브라우저
TryExec=netscape
Exec=netscape
Icon=netscape3.xpm
Terminal=0
Type=Application
