[Desktop Entry]
Name=RealPlayer 7
Name[da]=RealPlayer 7
Name[de]=RealPlayer 7
Name[it]=RealPlayer 7
Name[lt]=RealPlayer
Name[no]=RealPlayer 7
Name[sv]=RealPlayer 7
Name[C]=RealPlayer 7 
Comment=RealPlayer multimedia player
Comment[lt]=RealPlayer multimedijos grotuvas
Comment[C]=RealPlayer multimedia player
Comment[da]=RealPlayer multimedie-avspiller
Comment[de]=Multimedia-Abspielprogramm
Comment[it]=Lettore multimediale RealPlayer
Comment[no]=RealPlayer multimediaspiller
Comment[sv]=RealPlayer multimediaspelare
TryExec=realplay
Exec=realplay
Icon=/usr/local/libexec/RealPlayer7/rp7.xpm
Terminal=0
Type=Applications
X-GNOME-SetIcon=false
