[Desktop Entry]
Name=RealPlayer 7
Name[cs]=RealPlayer 7
Name[da]=RealPlayer 7
Name[de]=RealPlayer 7
Name[el]=RealPlayer 7
Name[fi]=RealPlayer 7
Name[fr]=RealPlayer 7
Name[it]=RealPlayer 7
Name[lt]=RealPlayer
Name[no]=RealPlayer 7
Name[pt_BR]=RealPlayer 7
Name[ro]=RealPlayer
Name[sk]=RealPlayer 7
Name[sl]=RealPlayer 7
Name[sv]=RealPlayer 7
Comment=RealPlayer multimedia player
Comment[cs]=Multimediální pøehrávaè RealPlayer
Comment[da]=RealPlayer multimedie-afspiller
Comment[de]=Multimedia-Abspielprogramm
Comment[el]=ÁíáðáñáãùãÞ ðïëõìÝóùí RealPlayer
Comment[fi]=RealPlayer-multimediasoitin
Comment[fr]=Lecteur multimédia RealPlayer
Comment[it]=Lettore multimediale RealPlayer
Comment[lt]=RealPlayer multimedijos grotuvas
Comment[no]=RealPlayer multimediaspiller
Comment[pt_BR]=Leitor de multimídia RealPlayer
Comment[ro]=Player multimedia RealPlayer
Comment[sk]=Multimediálny prehrávaè RealPlayer
Comment[sl]=RealPlayer multimedijski predvajalnik
Comment[sv]=RealPlayer multimediaspelare
Comment[wa]=Djoweu di fitchîs multemedia RealPlayer
TryExec=realplay
Exec=realplay
Icon=/usr/local/libexec/RealPlayer7/rp7.xpm
Terminal=0
Type=Applications
