[Desktop Entry]
Name=RealPlayer 7
Name[da]=RealPlayer 7
Name[de]=RealPlayer 7
Name[el]=RealPlayer 7
Name[fi]=RealPlayer 7
Name[it]=RealPlayer 7
Name[lt]=RealPlayer
Name[no]=RealPlayer 7
Name[sv]=RealPlayer 7
Comment=RealPlayer multimedia player
Comment[da]=RealPlayer multimedie-avspiller
Comment[de]=Multimedia-Abspielprogramm
Comment[el]=Αναπαραγωγή πολυμέσων RealPlayer
Comment[fi]=RealPlayer multimediasoitin
Comment[it]=Lettore multimediale RealPlayer
Comment[lt]=RealPlayer multimedijos grotuvas
Comment[no]=RealPlayer multimediaspiller
Comment[sv]=RealPlayer multimediaspelare
Comment[wa]=Djoweu di fitchξs multemedia RealPlayer
TryExec=realplay
Exec=realplay
Icon=/usr/local/libexec/RealPlayer7/rp7.xpm
Terminal=0
Type=Applications
