[Desktop Entry]
Name=Run program...
Name[fr]=Exécuter...
Name[de]=Programmstarter...
Name[ko]=$(C=GG`(B...
Name[no]=Kjør...
Comment=Prompts the user for a program to run
Comment[fr]=Demander à l'utilisateur un nom de programme a lancer
Comment[de]=Starten eines beliebigen Programms
COmment[ko]=$(C>n62(B $(CGA7N1W7%@;(B $(C=GG`GR(B $(C0M@NAv(B $(C@T7B@;(B $(C9^0m(B $(C=GG`(B
Comment[no]=Kjør program
TryExec=grun
Exec=grun
Icon=gnome-tigert.png
Terminal=0
Type=Application
