[Desktop Entry]
Name=Run program...
Name[fr]=Exécuter...
Name[de]=Programmstarter...
Name[ko]=½ÇÇà...
Name[no]=Kjør...
Comment=Prompts the user for a program to run
Comment[fr]=Demander à l'utilisateur un nom de programme a lancer
Comment[de]=Starten eines beliebigen Programms
COmment[ko]=¾î¶² ÇÁ·Î±×·¥À» ½ÇÇàÇÒ °ÍÀÎÁö ÀÔ·ÂÀ» ¹Ş°í ½ÇÇà
Comment[no]=Kjør program
TryExec=grun
Exec=grun
Icon=gnome-tigert.png
Terminal=0
Type=Application
