[Desktop Entry]
Name=Run program...
Comment=Prompts the user for a program to run
TryExec=grun
Exec=grun
Icon=gnome-tigert.png
Terminal=0
Type=Application
