[Desktop Entry]
Name=rxvt
Name[cs]=rxvt
Name[da]=rxvt
Name[de]=rxvt
Name[el]=rxvt
Name[fi]=rxvt
Name[fr]=rxvt
Name[it]=rxvt
Name[lt]=rxvt
Name[nn]=rxvt
Name[no]=rxvt
Name[pt_BR]=rxvt
Name[ro]=rxvt
Name[sk]=rxvt
Name[sl]=rxvt
Name[sv]=rxvt
Name[zh_TW]=rxvt
Comment=rxvt terminal
Comment[cs]=Terminál rxvt
Comment[da]=rxvt-terminal
Comment[de]=rxvt-Terminal
Comment[el]=Ğñïóïìïßùóç ôåñìáôéêïı rxvt
Comment[fi]=rxvt-pääteohjelma
Comment[fr]=Émulateur de terminal rxvt
Comment[it]=Terminale rxvt
Comment[lt]=rxvt terminalas
Comment[no]=rxvt-terminal
Comment[pt_BR]=terminal rxvt
Comment[ro]=Terminal rxvt
Comment[sk]=Terminál rxvt
Comment[sl]=terminal rxvt
Comment[sv]=rxvt-terminal
Comment[zh_TW]=rxvt ²×ºİ¾÷
TryExec=rxvt
Exec=rxvt
Icon=/usr/share/pixmaps/gnome-term.png
Terminal=false
MultipleArgs=false
Type=Application 
Categories=Application;System;
