[Desktop Entry]
Name=rxvt
Name[es]=rxvt
Name[fr]=rxvt
Name[de]=rxvt
Name[ko]=rxvt
Name[no]=rxvt
Name[pt]=rxvt
Comment=rxvt
Comment[es]=Terminal rxvt
Comment[fr]=Terminal Rxvt
Comment[de]=Rxvt Terminal
Comment[ko]=Rxvt ลอนฬณฮ
Comment[no]=Rxvt Terminal
Comment[pt]=Terminal rxvt
TryExec=rxvt
Exec=rxvt
Icon=gnome-term.png
Terminal=0
Type=Application
