[Desktop Entry]
Name=rxvt
Name[da]=rxvt
Name[no]=rxvt
Name[de]=rxvt
Comment=rxvt terminal
Comment[da]=rxvt-terminal
Comment[no]=rxvt-terminal
Comment[de]=rxvt-Terminal
Exec=rxvt
Icon=/usr/share/pixmaps/gnome-term.png
Terminal=false
MultipleArgs=false
Type=Application 
