[Desktop Entry]
Name=rxvt
Name[ja]=Rxvt
Name[es]=rxvt
Name[fr]=rxvt
Name[de]=rxvt
Name[ko]=rxvt
Name[no]=rxvt
Name[pt]=rxvt
Name[fi]=rxvt
Name[ru]=rxvt
Name[nl]=rxvt
Comment=rxvt
Comment[ja]=Rxvt•ø°º•ﬂ• •Î
Comment[es]=Terminal rxvt
Comment[fr]=Terminal Rxvt
Comment[de]=Rxvt Terminal
Comment[ko]=Rxvt ≈ÕπÃ≥Œ
Comment[no]=Rxvt Terminal
Comment[pt]=Terminal rxvt
Comment[fi]=rxvt p‰‰te-emulaattori
Comment[ru]=Ù≈“Õ…Œ¡Ã Rxvt
Comment[nl]=Rxvt terminal
TryExec=rxvt
Exec=rxvt
Icon=gnome-term.png
Terminal=0
Type=Application
