[Desktop Entry]
Name=Sawmill Client
Name[da]=Sawmill-klient
Name[no]=Sawmill-klient
Name[de]=Sawmill Client
Comment=Send commands to sawmill
Comment[da]=Send kommandoer til sawmill
Comment[no]=Send kommandoer til sawmill
Comment[de]=Sawmill Befehle senden
Exec=rxvt -title "Sawmill Client" -e sawmill-client -
Icon=/usr/local/pixmaps/icon/monitor.xpm
Terminal=false
MultipleArgs=false
Type=Application
