[Desktop Entry]
Name=Sawmill Configuration
Name[da]=Sawmill-konfiguration
Name[no]=Sawmill-konfigurasjon
Name[de]=Sawmill-Konfiguration
Comment=Sawmill configuration applet
Comment[da]=Sawmill-konfigurationsapplet
Comment[no]=Sawmill-konfigurasjonsappletten
Comment[de]=Sawmill-Konfigurationsprogramm 
Exec=sawmill-ui
Icon=/usr/local/pixmaps/icon/tux_config.xpm
Terminal=false
MultipleArgs=false
Type=Application
