[Desktop Entry]
Name=Restart sawmill
Name[da]=Genstart sawmill
Name[de]=Sawmill neu starten
Name[it]=Riavvia sawmill
Name[lt]=Perleisti sawfish
Name[no]=Start sawfish på nytt
Name[sv]=Starta om sawmill
Comment=Restart sawmill window manager
Comment[da]=Genstart sawmill-vindueshåndtering
Comment[lt]=Ið naujo paleisti sawfish langø tvarkyklæ
Comment[no]=Start sawfish vindushåndtereren på nytt  
Comment[de]=Sawmill Fenstermanager neu starten
Comment[it]=Riavvia il gestore di finestre sawmill
Comment[sv]=Starta om sawmill-fönsterhanteraren
TryExec=sawmill-client
Exec=sawmill-client -q -f restart
Icon=/usr/local/pixmaps/icon/cycle.xpm
Terminal=false
MultipleArgs=false
Type=Application
