[Desktop Entry]
Name=Restart sawmill
Name[da]=Genstart sawmill
Name[no]=Genstart sawmill
Name[de]=Sawmill neu starten
Comment=Restart sawmill window manager
Comment[da]=Genstart sawmill-vindueshåndtering
Comment[no]=Genstart sawmill vindushåndterer  
Comment[de]=Sawmill Fenstermanager neu starten
Exec=sawmill-client -q -f restart
Icon=/usr/local/pixmaps/icon/cycle.xpm
Terminal=false
MultipleArgs=false
Type=Application
