[Desktop Entry]
Name=Restart sawfish
Name[da]=Genstart sawfish
Name[de]=Sawfish neu starten
Name[it]=Riavvia sawfish
Name[lt]=Perleisti sawfish
Name[no]=Start sawfish på nytt
Name[sv]=Starta om sawfish
Comment=Restart sawfish window manager
Comment[da]=Genstart sawfish-vindueshåndtering
Comment[lt]=Ið naujo paleisti sawfish langø tvarkyklæ
Comment[no]=Start sawfish vindushåndtereren på nytt  
Comment[de]=Sawfish Fenstermanager neu starten
Comment[it]=Riavvia il gestore di finestre sawfish
Comment[sv]=Starta om sawfish-fönsterhanteraren
TryExec=sawfish-client
Exec=sawfish-client -q -f restart
Icon=/usr/local/pixmaps/icon/cycle.xpm
Terminal=false
MultipleArgs=false
Type=Application
