[Desktop Entry]
Name=Refresh GNOME menus
Name[da]=Genindlæs Gnome-menuer
Name[de]=Gnome-Menü neu einlesen
Name[it]=Aggiorna menu GNOME
Name[lt]=Atnaujinti Sawfish meniu
Name[no]=Gjenles GNOME menyer
Name[sv]=Läs om GNOME-menyer
Comment=Update sawmill with current GNOME menus structure
Comment[da]=Opdatér sawmill med nuværende Gnome-menustruktur
Comment[de]=Sawmill-Menüs mit den GNOME-Menüs updaten
Comment[it]=Aggiorna sawmill con il menu GNOME attuale
Comment[lt]=Atnaujinti sawfish su esama GNOME meniu struktûra
Comment[no]=Oppdatér sawfish med aktiv GNOME menystruktur
Comment[sv]=Uppdatera sawmill med aktuell GNOME-menystruktur
TryExec=sawmill-client
Exec=sawmill-client -q -f gnome-menus-update
Icon=/usr/share/pixmaps/gnome-logo-icon-transparent.png
Terminal=false
MultipleArgs=false
Type=Application
