[Desktop Entry]
Name=Refresh GNOME menus
Name[da]=Genindlæs Gnome-menuer
Name[no]=Geninnles Gnome-menyer
Name[de]=Gnome-Menü neu einlesen
Comment=Update sawmill with current GNOME menus structure
Comment[da]=Opdatér sawmill med nuværende Gnome-menustruktur
Comment[de]=Sawmill-Menüs mit den GNOME-Menüs updaten
Exec=sawmill-client -q -f gnome-menus-update
Icon=/usr/share/pixmaps/gnome-logo-icon-transparent.png
Terminal=false
MultipleArgs=false
Type=Application
