[Desktop Entry]
Name=Refresh GNOME menus
Name[da]=Genindlæs Gnome-menuer
Name[de]=Gnome-Menü neu einlesen
Name[it]=Aggiorna menu GNOME
Name[lt]=Atnaujinti Sawfish meniu
Name[no]=Gjenles GNOME menyer
Name[sv]=Läs om GNOME-menyer
Comment=Update sawfish with current GNOME menus structure
Comment[da]=Opdatér sawfish med nuværende Gnome-menustruktur
Comment[de]=Sawfish-Menüs mit den GNOME-Menüs updaten
Comment[it]=Aggiorna sawfish con il menu GNOME attuale
Comment[lt]=Atnaujinti sawfish su esama GNOME meniu struktûra
Comment[no]=Oppdatér sawfish med aktiv GNOME menystruktur
Comment[sv]=Uppdatera sawfish med aktuell GNOME-menystruktur
TryExec=sawfish-client
Exec=sawfish-client -q -f gnome-menus-update
Icon=/usr/share/pixmaps/gnome-logo-icon-transparent.png
Terminal=false
MultipleArgs=false
Type=Application
