[Desktop Entry]
Name=Sawmill Theme Builder
Name[da]=Sawmill temabygger
Name[de]=Sawmill Theme Builder
Name[it]=Crea temi Sawmill
Name[lt]=Sawfish temø dirbtuvë
Name[no]=Sawfish temabygger
Name[sv]=Sawmill temabyggare
Comment=GUI to create simple sawmill themes
Comment[da]=Grafisk brugerflade til at oprette sawmill-temaer
Comment[de]=Programm zum Erstellen von Sawmill-Themen
Comment[it]=Creazione di semplici temi per Sawmill
Comment[lt]=GUI paprastø sawfish temø kûrimui
Comment[no]=Grafisk grensesnitt for å administrere sawfish temaer
Comment[sv]=GUI för att skapa enkla sawmill-teman
TryExec=sawmill-themer
Exec=sawmill-themer
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
