[Desktop Entry]
Name=Sawfish Theme Builder
Name[da]=Sawfish temabygger
Name[de]=Sawfish Theme Builder
Name[it]=Crea temi Sawfish
Name[lt]=Sawfish temø dirbtuvë
Name[no]=Sawfish temabygger
Name[sv]=Sawfish temabyggare
Comment=GUI to create simple sawfish themes
Comment[da]=Grafisk brugerflade til at oprette sawfish-temaer
Comment[de]=Programm zum Erstellen von Sawfish-Themen
Comment[it]=Creazione di semplici temi per Sawfish
Comment[lt]=GUI paprastø sawfish temø kûrimui
Comment[no]=Grafisk grensesnitt for å administrere sawfish temaer
Comment[sv]=GUI för att skapa enkla sawfish-teman
TryExec=sawfish-themer
Exec=sawfish-themer
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
