[Desktop Entry]
Name=Sawmill Theme Builder
Name[da]=Sawmill temabygger
Name[no]=Sawmill temabygger
Name[de]=Sawmill Theme Builder
Comment=GUI to create simple sawmill themes
Comment[da]=Grafisk brugerflade til at oprette sawmill-temaer
Comment[de]=Programm zum Erstellen von Sawmill-Themen
Exec=sawmill-themer
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
