[Desktop Entry]
Name=Tkrat
Name[ja]=Tkrat
Name[es]=Tkrat
Name[de]=Tkrat
Name[ko]=Tkrat
Name[fr]=Tkrat
Name[it]=Tkrat
Name[no]=Tkrat
Name[pt]=Tkrat
Name[fi]=Tkrat
Comment=E-Mail utility
Comment[ja]=ÅÅ»Ò¥á¡¼¥ë¥æ¡¼¥Æ¥£¥ê¥Æ¥£
Comment[es]=Programa de correo electrónico
Comment[de]=E-Mail Programm
Comment[ko]=ÀüÀÚ ¿ìÆí ÇÁ·Î±×·¥
Comment[fr]=Gestionnaire d'Email
Comment[it]=E-Mail utility
Comment[no]=E-post verktøy
Comment[pt]=Programa de correio electrónico
Comment[fi]=Sähköposti ohjelma
TryExec=tkrat
Exec=tkrat
Icon=gnome-balsa2.png
Terminal=0
Type=Application
