[Desktop Entry]
Name=Tkrat
Name[es]=Tkrat
Name[de]=Tkrat
Name[ko]=Tkrat
Name[fr]=Tkrat
Name[it]=Tkrat
Name[no]=Tkrat
Comment=E-Mail utility
Comment[es]=E-Mail utility
Comment[de]=E-Mail utility
Comment[ko]=E-Mail utility
Comment[fr]=Gestionnaire d'Email
Comment[it]=E-Mail utility
Comment[no]=E-Mail utility
TryExec=tkrat
Exec=tkrat
Icon=gnome-balsa2.png
Terminal=0
Type=Application
