[Desktop Entry]
Name=Tkrat
Name[bg]=Tkrat
Name[ca]=Tkrat
Name[cs]=Tkrat
Name[da]=Tkrat
Name[de]=Tkrat
Name[el]=Tkrat
Name[es]=Tkrat
Name[eu]=Tkrat
Name[fi]=Tkrat
Name[fr]=Tkrat
Name[ga]=Tkrat
Name[gl]=Tkrat
Name[it]=Tkrat
Name[ja]=Tkrat
Name[ko]=Tkrat
Name[nl]=Tkrat
Name[no]=Tkrat
Name[pl]=Tkrat
Name[pt]=Tkrat
Name[pt_BR]=Tkrat
Name[sk]=Tkrat
Name[sv]=Tkrat
Name[tr]=Tkrat
Name[uk]=Tkrat
Name[zh_CN.GB2312]=Tkrat
Name[zh_TW.Big5]=Tkrat
Comment=E-Mail utility
Comment[bg]=Ïğîãğàìà çà åëåêòğîííà ïîùà
Comment[ca]=Programa gestor de correu
Comment[cs]=Utilita pro elektronickou po¹tu
Comment[da]=E-postklient
Comment[de]=E-Mail-Programm
Comment[el]=Ğñüãñáììá çëåêôñïíéêŞò áëëçëïãñáößáò TkRat
Comment[es]=Programa de correo electrónico
Comment[et]=Elektronpostiprogramm Tkrat
Comment[eu]=E-posta programa
Comment[fi]=Sähköpostiohjelma
Comment[fr]=Gestionnaire d'Email
Comment[ga]=Ríomhchlár Ríomhphost
Comment[gl]=Xestor de correo electrónico
Comment[hu]=Elektronikus levelezõ segédprogram
Comment[it]=Programma di posta elettronica TkRat
Comment[ja]=ÅÅ»Ò¥á¡¼¥ë¥æ¡¼¥Æ¥£¥ê¥Æ¥£
Comment[ko]=ÀüÀÚ ¿ìÆí ÇÁ·Î±×·¥
Comment[nl]=Elektronische post
Comment[no]=E-post verktøy
Comment[pl]=Klient poczty elektronicznej
Comment[pt]=Programa de correio electrónico
Comment[pt_BR]=Programa de Correio Eletrônico
Comment[sk]=Po¹tovı klient
Comment[sv]=Epost-verktyg
Comment[tr]=ePosta uygulaması
Comment[uk]=ëÌ¦¤ÎÔ ÅÌÅËÔÒÏÎÎÏ§ ĞÏÛÔÉ
Comment[wa]=Programe d' emilaedje
Comment[zh_CN.GB2312]=µç×ÓÓÊ¼ş³ÌÊ½
Comment[zh_TW.Big5]=¹q¤l¶l¥óµ{¦¡
TryExec=tkrat
Exec=tkrat
Icon=gnome-balsa2.png
Terminal=0
Type=Application
