[Desktop Entry]
Name=TkSETI
Name[cs]=TkSETI
Name[el]=TkSETI
Name[fi]=TkSETI
Name[fr]=TkSETI
Name[lt]=TkSETI
Name[nn]=TkSETI
Name[no]=TkSETI
Name[pt_BR]=TkSETI
Name[ro]=TkSETI
Name[sk]=TkSETI
Name[sl]=TkSETI
Name[sv]=TkSETI
Name[zh_TW.Big5]=TkSETI
Comment=SETI@home monitor
Comment[cs]=Monitor SETI@home
Comment[da]=SETI@home-meter
Comment[de]=SETI@home Überwacher
Comment[el]=Ðáñáêïëïýèçóç SETI@home
Comment[fi]=SETI@home tarkkailuohjelma
Comment[fr]=Moniteur SETI@home
Comment[it]=Monitor per SETI@home
Comment[lt]=SETI@home matuoklis
Comment[nn_NO]=SETI@home-monitor
Comment[no]=SETI@home-monitor
Comment[pt_BR]=Monitor SETI@home
Comment[ro]=Monitor SETI@home
Comment[sk]=Monitor pre program SETI@home
Comment[sl]=SETI@home nadzornik
Comment[sv]=SETI@home-övervakare
Comment[wa]=Programe po vey l' estat di vosse SETI@home
Comment[zh_TW.Big5]=SETI@home ºÊ±±µ{¦¡
TryExec=tkseti
Exec=tkseti
Icon=/usr/local/pixmaps/icon/earth.xpm
Terminal=false
MultipleArgs=false
Type=Application 
