[Desktop Entry]
Name=TkSETI
Name[lt]=TkSETI
Name[no]=TkSETI
Comment=SETI@home monitor
Comment[da]=SETI@home-meter
Comment[de]=SETI@home Überwacher
Comment[it]=Monitor per SETI@home
Comment[lt]=SETI@home matuoklis
Comment[no]=SETI@home monitor
Comment[sv]=SETI@home övervakare
TryExec=tkseti
Exec=tkseti
Icon=/usr/local/pixmaps/icon/earth.xpm
Terminal=false
MultipleArgs=false
Type=Application 
X-GNOME-SetIcon=false
