[Desktop Entry]
Name=Regular XTerm
Name[es]=XTerm normal
Name[de]=Normales XTerm
Name[ko]=∫∏≈Î ø¢Ω∫≈“
Comment=Regular XTerm
Comment[es]=XTerm normal
Comment[de]=Normales XTerm
Comment[ko]=∫∏≈Î ø¢Ω∫≈“
TryExec=xterm
Exec=xterm
Icon=UNIX.xpm
Terminal=0
Type=Application
