[Desktop Entry]
Name=Color XTerm
Name[es]=XTerm a color
Name[de]=Farbiges XTerm
Name[ko]=Ä®¶ó XTerm
Name[fr]=XTerm Couleur
Name[it]=XTerm a colori
Name[no]=Farge X-terminal
Comment=Color XTerm
Comment[es]=XTerm a color
Comment[de]=Farbiges XTerm
Comment[ko]=Ä®¶ó XTerm
Comment[fr]=XTerm Couleur
Comment[it]=XTerm a colori
Comment[no]=Xterm i farger
TryExec=nxterm
Exec=nxterm
Icon=gnome-term.png
Terminal=0
Type=Application
