[Desktop Entry]
Name=Regular XTerm
Name[ca]=XTerm normal
Name[da]=Normal X-terminal
Name[de]=Normales XTerm
Name[es]=XTerm normal
Name[eu]=XTerm arrunta
Name[fi]=Normaali XTerm
Name[fr]=XTerm Normal
Name[hu]=Alap x-termin·l
Name[it]=XTerm Normale
Name[ja]=XTerm
Name[ko]=∫∏≈Î ø¢Ω∫≈“
Name[nl]=Normale XTerm
Name[no]=Vanlig X-terminal
Name[pt]=XTerm Normal
Name[ru]=Ô¬ŸﬁŒŸ  XTerm
Name[sv]=Xterm, normal
Name[wa]=Xterm normÂ
Comment=Regular XTerm
Comment[ca]=Emulador de terminal XTerm normal
Comment[da]=SÊdvanlig X-terminal
Comment[de]=Normales X-Terminal
Comment[es]=XTerm normal
Comment[eu]=XTerm arrunta
Comment[fi]=Normaali XTerm
Comment[fr]=XTerm Normal
Comment[it]=XTerm Normale
Comment[hu]=AlapÈrtelmezett X-termin·l
Comment[ja]=XTerm•ø°º•ﬂ• •Î
Comment[ko]=∫∏≈Î ø¢Ω∫≈“
Comment[nl]=Normale XTerm
Comment[no]=Vanlig X-terminal
Comment[pt]=XTerm Regular
Comment[ru]=Ô¬ŸﬁŒŸ  XTerm
Comment[sv]=Vanlig X-terminal
Comment[wa]=TerminÂ xterm normÂ
TryExec=xterm
Exec=xterm
Icon=gnome-xterm.png
Terminal=0
Type=Application
