[Desktop Entry]
Name=Color XTerm
Name[sl]=Bravni XTerm
Name[bg]=Öâåòåí XÒåğìèíàë
Name[ca]=Xterm en color
Name[cs]=Barevnı terminálovı emulátor
Name[da]=Farve-xterm
Name[de]=Farbiges XTerm
Name[el]=¸ã÷ñùìï XTerm
Name[en_GB]=Colour XTerm
Name[es]=XTerm a color
Name[et]=Värviline XTerm
Name[eu]=XTerm koloretan
Name[fi]=Värillinen XTerm
Name[fr]=XTerm Couleur
Name[fr]=XTerm couleur
Name[ga]=Xterm daite
Name[gl]=Xterm a cores
Name[hu]=Színes X-terminál
Name[it]=XTerm a colori
Name[ja]=¥«¥é¡¼ xterm
Name[ko]=Ä®¶ó ¿¢½ºÅÒ
Name[nl]=Kleuren XTerm
Name[no]=Farge X-terminal
Name[pl]=Kolorowy XTerm
Name[pt]=XTerm a cores
Name[pt_BR]=XTerm a cores
Name[ro]=Terminal X color
Name[ru]=ã×ÅÔÎÏÊ XTerm
Name[sk]=Farebnı XTerm
Name[sv]=XTerm, färg
Name[tr]=XTerm komutası
Name[uk]=ëÏÌØÏÒÏ×ÉÊ XTerm
Name[wa]=Xterm è coleur
Name[zh_CN.GB2312]=²ÊÉ« X ÖÕ¶Ë»ú
Name[zh_TW.Big5]=±m¦â X ²×ºİ¾÷
Comment=Color XTerm
Comment[sl]=Barvni XTerm
Comment[bg]=Öâåòåí òåğìèíàëåí åìóëàòîğ
Comment[ca]=Emulador de terminal XTerm en color
Comment[cs]=Terminálovı emulátor schopnı zobrazení barev
Comment[da]=X-terminal i farver
Comment[de]=Farbiges XTerm
Comment[el]=¸ã÷ñùìç ğñïóïìïßùóç ôåñìáôéêïı XTerm
Comment[en_GB]=Colour XTerm
Comment[es]=XTerm a color
Comment[et]=Värviline XTerm
Comment[eu]=XTerm koloretan
Comment[fi]=Värillinen XTerm
Comment[fr]=Émulateur de terminal XTerm couleur
Comment[ga]=XTerm daite
Comment[gl]=Xterm a cores
Comment[hu]=Színes X-terminál
Comment[it]=XTerm a colori
Comment[ja]=¥«¥é¡¼ÈÇ xterm
Comment[ko]=Ä®¶ó ¿¢½ºÅÒ
Comment[nl]=Kleuren XTerm
Comment[no]=Xterm i farger
Comment[pl]=Kolorowy emulator terminala
Comment[pt]=XTerm a cores(nxterm)
Comment[pt_BR]=XTerm a cores(nxterm)
Comment[ro]=Terminal X color
Comment[ru]=ã×ÅÔÎÏÊ XTerm
Comment[sk]=Farebnı XTerm
Comment[sv]=X-terminal i färg
Comment[tr]=Xterm komutası
Comment[uk]=ëÏÌØÏÒÏ×ÉÊ ÅÍÕÌÑÔÏÒ ÔÅÒÍ¦ÎÁÌÕ
Comment[wa]=Terminå xterm avou des coleurs
Comment[zh_CN.GB2312]=²ÊÉ« X ÖÕ¶Ë»ú
Comment[zh_TW.Big5]=±m¦â X ²×ºİ¾÷
TryExec=nxterm
Exec=nxterm
Icon=gnome-color-xterm.png
Terminal=0
Type=Application
