[Desktop Entry]
Name=Regular XTerm
Name[da]=Normal X-terminal
Name[de]=Normales XTerm
Name[es]=XTerm normal
Name[fi]=Normaali XTerm
Name[fr]=XTerm Normal
Name[it]=XTerm Normale
Name[ja]=XTerm
Name[ko]=∫∏≈Î ø¢Ω∫≈“
Name[nl]=Normale XTerm
Name[no]=Vanlig X-terminal
Name[pt]=XTerm Normal
Name[ru]=Ô¬ŸﬁŒŸ  XTerm
Comment=Regular XTerm
Comment[da]=SÊdvanlig X-terminal
Comment[de]=Normales X-Terminal
Comment[es]=XTerm normal
Comment[fi]=Normaali XTerm
Comment[fr]=XTerm Normal
Comment[it]=XTerm Normale
Comment[ja]=XTerm•ø°º•ﬂ• •Î
Comment[ko]=∫∏≈Î ø¢Ω∫≈“
Comment[nl]=Normale XTerm
Comment[no]=Vanlig X-terminal
Comment[pt]=XTerm Regular
Comment[ru]=Ô¬ŸﬁŒŸ  XTerm
TryExec=xterm
Exec=xterm
Icon=gnome-term.png
Terminal=0
Type=Application
