[Desktop Entry]
Name=Color XTerm
Name[ca]=Xterm en color
Name[da]=Farve X-terminal
Name[de]=Farbiges XTerm
Name[es]=XTerm a color
Name[eu]=XTerm koloretan
Name[fi]=Värillinen XTerm
Name[fr]=XTerm Couleur
Name[it]=XTerm a colori
Name[hu]=Színes X-terminál
Name[ja]=¥«¥é¡¼XTerm
Name[ko]=Ä®¶ó ¿¢½ºÅÒ
Name[nl]=Kleuren XTerm
Name[no]=Farge X-terminal
Name[pt]=XTerm a cores
Name[ru]=ã×ÅÔÎÏÊ XTerm
Comment=Color XTerm
Comment[ca]=Emulador de terminal XTerm en color
Comment[da]=Xterm i farver
Comment[de]=Farbiges XTerm
Comment[es]=XTerm a color
Comment[eu]=XTerm koloretan
Comment[fi]=Värillinen XTerm
Comment[fr]=XTerm Couleur
Comment[it]=XTerm a colori
Comment[hu]=Színes X-terminál
Comment[ja]=¥«¥é¡¼XTerm
Comment[ko]=Ä®¶ó ¿¢½ºÅÒ
Comment[nl]=Kleuren XTerm
Comment[no]=Xterm i farger
Comment[pt]=XTerm a cores(nxterm)
Comment[ru]=ã×ÅÔÎÏÊ XTerm
TryExec=nxterm
Exec=nxterm
Icon=gnome-xterm.png
Terminal=0
Type=Application
