[Desktop Entry]
Name=Vim
Name[bg]=Vim
Name[cs]=Vim
Name[da]=Vim
Name[de]=Vim
Name[el]=Vim
Name[fi]=Vim
Name[fr]=Vim
Name[ga]=Vim
Name[gl]=Vim
Name[it]=Vim
Name[ja]=Vim
Name[lt]=Vim
Name[nn]=Vim
Name[no]=Vim
Name[pl]=Vim
Name[pt_BR]=Vim
Name[ro]=Vim
Name[ru]=Vim
Name[sk]=Vim
Name[sl]=Vim
Name[sv]=Vim
Name[tr]=Vim
Name[uk]=Vim
Name[zh_TW.Big5]=Vim
Comment=Gtk+ port of Vim
Comment[bg]=Ãğàôè÷íà Gtk+ âåğñèÿ íà Vim
Comment[cs]=GTK+ verze Vim
Comment[da]=Gtk+-udgave af tekstbehandleren Vim
Comment[de]=GTK+-Version des Vim
Comment[el]=GTK+ İêäïóç ôïõ åğåîåñãáóôŞ êåéìİíïõ Vim
Comment[fi]=Vim-tekstieditori
Comment[fr]=Portage GTK+ de Vim
Comment[ga]=Leagan Gtk+ do Vim
Comment[gl]=Versión do Vim para Gtk+
Comment[it]=Versione Gtk+ di Vim
Comment[ja]=Gtk+ ÈÇ Vim
Comment[lt]=Vim'o GTK+ versija
Comment[no]=GTK+ versjonen av Vim
Comment[pl]=Wersja Vima dla GTK+
Comment[pt_BR]=Vim para o Gtk+
Comment[ro]=Portare GTK+ a lui Vim
Comment[ru]=Vim ĞÅÒÅÎÅÓÅÎÎÙÊ ĞÏÄ Gtk+
Comment[sk]=Port Vim pre Gtk+
Comment[sl]=Gtk+ razlièica Vim-a
Comment[sv]=Gtk+-port av Vim
Comment[tr]=Vim'in Gtk+ kullanım yüzü
Comment[uk]=Vim ĞÅÒÅÎÅÓÅÎÉÊ Ğ¦Ä Gtk+
Comment[wa]=Modeye Gtk+ di l' aspougneu di tecse vim
Comment[zh_TW.Big5]=Vim ªº Gtk+ ª©¥»
TryExec=gvim
Exec=gvim
Icon=gtkvim.png
Terminal=0
Type=Application
