[Desktop Entry]
Name=VIM (console)
Name[da]=VIM (konsol)
Name[de]=VIM (Konsole)
Name[it]=VIM (console)
Name[sv]=VIM (konsoll)
Comment=Vi IMproved text editor
Comment[da]=Den forbedrede vi-editor
Comment[de]=Der verbesserte vi-Editor
Comment[it]=Editor di testo Vi IMproved
Comment[sv]=Vi-förbättrad texteditor
TryExec=rxvt -title Vim -e vim
Exec=rxvt -title Vim -e vim
Icon=/usr/share/pixmaps/gnome-word.png
Terminal=false
MultipleArgs=false
Type=Application
