[Desktop Entry]
Name=VIM (console)
Name[da]=VIM (konsol)
Name[de]=VIM (Konsole)
Comment=Vi IMproved text editor
Comment[da]=Den forbedrede vi-editor
Comment[de]=Der verbesserte vi-Editor
Exec=rxvt -title Vim -e vim
Icon=/usr/share/pixmaps/gnome-word.png
Terminal=false
MultipleArgs=false
Type=Application
