[Desktop Entry]
Name=Vim
Name[bg]=Vim
Name[cs]=Vim
Name[da]=Vim
Name[de]=Vim
Name[el]=Vim
Name[fi]=Vim
Name[ga]=Vim
Name[gl]=Vim
Name[it]=Vim
Name[ja]=Vim
Name[lt]=Vim
Name[no]=Vim
Name[pl]=Vim
Name[pt_BR]=Vim
Name[ru]=Vim
Name[tr]=Vim
Name[uk]=Vim
Comment=Gtk+ port of Vim
Comment[bg]=Ãğàôè÷íà Gtk+ âåğñèÿ íà Vim
Comment[cs]=GTK+ verze vim
Comment[da]=Gtk+ udgave af Vim tekstbehandleren
Comment[de]=GTK+-Version des Vim
Comment[el]=GTK+ İêäïóç ôïõ åğåîåñãáóôŞ Vim
Comment[fi]=Vim-tekstieditori
Comment[ga]=Leagan Gtk+ do Vim
Comment[gl]=Versión do Vim para Gtk+
Comment[it]=Versione Gtk+ di Vim
Comment[ja]=Gtk+ ÈÇ Vim
Comment[lt]=Vim'o GTK+ versija
Comment[no]=GTK+ versjonen av Vim
Comment[pl]=Wersja Vima dla GTK+
Comment[pt_BR]=Vim para o Gtk+
Comment[ru]=Vim ĞÅÒÅÎÅÓÅÎÎÙÊ ĞÏÄ Gtk+
Comment[tr]=Vim'in Gtk+ kullanım yüzü
Comment[uk]=Vim ĞÅÒÅÎÅÓÅÎÉÊ Ğ¦Ä Gtk+
Comment[wa]=Modeye Gtk+ di l' aspougneu di tecse vim
TryExec=gvim
Exec=gvim
Icon=gtkvim.png
Terminal=0
Type=Application
