[Desktop Entry]
Name=Vim
Name[pt_BR]=Vim
Comment=Gtk+ port of Vim
Comment[pt_BR]=Vim para o Gtk+
TryExec=gvim
Exec=gvim
Icon=gtkvim.png
Terminal=0
Type=Application
