[Desktop Entry]
Name=Vietnamese terminal
Name[bg]=Âèåòíàìñêè òåğìèíàë
Name[ca]=Terminal vietnamita
Name[cs]=Vietnamskı terminál
Name[da]=Vietnamesisk terminal
Name[de]=Vietnamesisches Terminal
Name[el]=Âéåôíáìİæéêï ôåñìáôéêü
Name[es]=Terminal Vietnamita
Name[et]=Vietnami terminal
Name[eu]=Terminal Vietnamdarra
Name[fi]=Vietnamilainen pääte
Name[fr]=Terminal Viêtnamien
Name[ga]=Teirminéal Vítneamáis
Name[gl]=Terminal vietnamita
Name[it]=Terminale vietnamita
Name[ja]=¥Ù¥È¥Ê¥à¸ì¥¿¡¼¥ß¥Ê¥ë (vnterm)
Name[ko]=º£Æ®³²¾î ÅÍ¹Ì³Î
Name[nl]=Vietnamese terminal
Name[no]=Vietnamesisk terminal
Name[pl]=Wietnamski terminal
Name[pt_BR]=Terminal vietnamita
Name[ro]=Terminal vietnamez
Name[sk]=Vietnamskı terminál
Name[sv]=Vietnamesisk terminal
Name[tr]=Viyetnam komutası
Name[uk]=÷'¤ÔÎÁÍÓØËÉÊ ÔÅÒÍ¦ÎÁÌ
Name[vi]=Terminal mµu cho tiÕng ViÖt
Name[vi_VN.TCVN]=Terminal mµu cho tiÕng ViÖt
Name[vi_VN.VISCII]=Terminal màu cho tiªng Vi®t
Name[wa]=Terminå vietnamiyen
Name[zh_CN.GB2312]=Ô½ÄÏÖÕ¶Ë»ú
Name[zh_TW.Big5]=¶V«n²×ºİ¾÷
Comment=Vietnamese terminal emulation program
Comment[bg]=Òåğìèíàëåí åìóëàòîğ çà Âèåòíàì
Comment[ca]=Emulador de terminal vietnamita
Comment[cs]=Terminálovı emulátor podporující vietnamské písmo
Comment[da]=Vietnamesisk terminalemulering
Comment[de]=Vietnamesischer Terminalemulator
Comment[el]=Âéåôíáìİæéêïò ğñïóïìïéùôŞò ôåñìáôéêïı
Comment[es]=Emulador de terminal vietnamita
Comment[et]=Vietnamikeelne terminal
Comment[eu]=Terminal Vietnamdarraren emulatzailea
Comment[fi]=Vietnamilainen pääte-emulaattoriohjelma
Comment[fr]=Émulateur de terminal viêtnamien
Comment[ga]=Teirminéal Vítneamáis
Comment[gl]=Emulador de terminal vietnamita
Comment[it]=Emulatore di terminale vietnamita
Comment[ja]=¥Ù¥È¥Ê¥à¸ì¥¿¡¼¥ß¥Ê¥ë¥¨¥ß¥å¥ì¡¼¥¿
Comment[ko]=º£Æ®³²¾î ÅÍ¹Ì³Î
Comment[nl]=Vietnamese terminalemulator
Comment[no]=Vietnamesisk terminalemulator
Comment[pl]=Wietnamski emulator terminala
Comment[pt_BR]=Emulador de terminal vietnamita
Comment[ro]=Emulator de terminal vietnamez
Comment[sk]=Emulátor vietnamského terminálu
Comment[sv]=Vietnamesisk terminalemulator
Comment[tr]=Viyetnamlı komuta
Comment[uk]=÷'¤ÔÎÁÍÓØËÉÊ ÅÍÕÌÑÔÏÒ ÔÅÒÍ¦ÎÁÌÕ
Comment[vi]=Terminal mµu cho tiÕng ViÖt
Comment[vi_VN.TCVN]=Terminal mµu cho tiÕng ViÖt
Comment[vi_VN.VISCII]=Terminal màu cho tiªng Vi®t
Comment[wa]=Terminå vietnamiyen
Comment[zh_CN.GB2312]=Ô½ÄÏÎÄ×ÖµÄÖÕ¶Ë»úÄ£Äâ³ÌÊ½
Comment[zh_TW.Big5]=¶V«n¤å¦rªº²×ºİ¾÷¼ÒÀÀµ{¦¡
TryExec=vnterm
Exec=vnterm
Icon=vnterm.xpm
Terminal=0
Type=Application
