[Desktop Entry]
Name=WordPerfect
Name[da]=WordPerfect
Name[de]=WordPerfect
Name[fi]=WordPerfect
Name[fr]=WordPerfect
Name[it]=WordPerfect
Name[lt]=WordPerfect
Name[no]=WordPerfect
Name[pt_BR]=WordPerfect
Name[sk]=WordPerfect
Name[sv]=WordPerfect
Comment=WordPerfect for Linux
Comment[da]=WordPerfect til Linux
Comment[de]=WordPerfect für Linux
Comment[el]=WordPerfect ãéá Linux
Comment[fi]=WordPerfect Linuxille
Comment[fr]=WordPerfect pour Linux
Comment[it]=WordPerfect per Linux
Comment[lt]=Linux'inis WordPerfect
Comment[no]=WordPerfect for Linux
Comment[pt_BR]=WordPerfect para Linux
Comment[sk]=WordPerfect pre Linux
Comment[sv]=WordPerfect för Linux
Comment[wa]=Li programe di traitment di tecsse WordPerfect
TryExec=/u/s/wp
Exec=/u/s/wp
Icon=/usr/local/pixmaps/icon/butterfly.xpm
Terminal=false
MultipleArgs=false
Type=Application
