[Desktop Entry]
Name=WordPerfect
Name[da]=WordPerfect
Name[no]=WordPerfect
Name[de]=WordPerfect
Name[sv]=WordPerfect
Comment=WordPerfect for Linux
Comment[da]=WordPerfect til Linux
Comment[no]=WordPerfect til Linux
Comment[de]=WordPerfect für Linux
Comment[sv]=WordPerfect för Linux
TryExec=/u/s/wp
Exec=/u/s/wp
Icon=/usr/local/pixmaps/icon/butterfly.xpm
Terminal=false
MultipleArgs=false
Type=Application
