[Desktop Entry]
Name=XbmBrowser
Name[da]=XbmBrowser
Name[de]=XbmBrowser
Name[fi]=XbmBrowser
Name[fr]=XbmBrowser
Name[it]=XbmBrowser
Name[lt]=XbmBrowser
Name[no]=XbmBrowser
Name[sv]=XbmBrowser
Comment=xbm/xpm image browser
Comment[da]=xbm/xpm-billedebladrer
Comment[de]=xbm/xpm-Bildbetrachter
Comment[el]=Φυλλομέτρηση εικόνων xbm/xpm
Comment[fi]=xbm/xpm-kuvien nδytin
Comment[fr]=Navigateur d'images xbm/xpm
Comment[it]=Visualizzatore xbm/xpm
Comment[lt]=xbm/xpm atvaizdψ narπyklλ
Comment[no]=xbm/xpm-bildviser
Comment[sv]=xbm/xpm bildvisare
Comment[wa]=Foyteu po imεdjes xbm/xpm
TryExec=xbmbrowser
Exec=xbmbrowser
Icon=/usr/local/pixmaps/icon/monalisa.xpm
Terminal=false
MultipleArgs=false
Type=Application 
