[Desktop Entry]
Name=XbmBrowser
Name[da]=XbmBrowser
Name[de]=XbmBrowser
Name[it]=XbmBrowser
Name[lt]=XbmBrowser
Name[no]=XbmBrowser
Name[sv]=XbmBrowser
Comment=xbm/xpm image browser
Comment[da]=xbm/xpm-billedebladrer
Comment[de]=xbm/xpm-Bildbetrachter
Comment[it]=Visualizzatore xbm/xpm
Comment[lt]=xbm/xpm atvaizdø narðyklë
Comment[no]=xbm/xpm-bildeviser
Comment[sv]=xbm/xpm bildvisare
TryExec=xbmbrowser
Exec=xbmbrowser
Icon=/usr/local/pixmaps/icon/monalisa.xpm
Terminal=false
MultipleArgs=false
Type=Application 
