[Desktop Entry]
Name=XbmBrowser
Name[da]=XbmBrowser
Name[de]=XbmBrowser
Name[fi]=XbmBrowser
Name[fr]=XbmBrowser
Name[it]=XbmBrowser
Name[lt]=XbmBrowser
Name[no]=XbmBrowser
Name[pt_BR]=XbmBrowser
Name[sk]=XbmBrowser
Name[sv]=XbmBrowser
Comment=xbm/xpm image browser
Comment[da]=xbm/xpm-billedebladrer
Comment[de]=xbm/xpm-Bildbetrachter
Comment[el]=Öõëëïìİôñçóç åéêüíùí xbm/xpm
Comment[fi]=xbm/xpm-kuvien näytin
Comment[fr]=Navigateur d'images xbm/xpm
Comment[it]=Visualizzatore xbm/xpm
Comment[lt]=xbm/xpm atvaizdø narğyklë
Comment[no]=xbm/xpm-bildeviser
Comment[pt_BR]=Navegador de imagem xbm/xpm
Comment[sk]=Prehliadaè obrázkov xbm/xpm
Comment[sv]=xbm/xpm bildvisare
Comment[wa]=Foyteu po imådjes xbm/xpm
TryExec=xbmbrowser
Exec=xbmbrowser
Icon=/usr/local/pixmaps/icon/monalisa.xpm
Terminal=false
MultipleArgs=false
Type=Application 
