[Desktop Entry]
Name=Xcolsel   
Name[no]=Xcolsel
Name[da]=Xcolsel
Name[de]=Xcolsel
Comment=X Color Selector
Comment[da]=X-farvevælger
Comment[no]=X-fargevelger
Comment[de]=X Farbwahlprogramm
Exec=xcolsel
Icon=/usr/local/pixmaps/icon/palette.xpm
Terminal=false
MultipleArgs=false
Type=Application  
