[Desktop Entry]
Name=Xcolsel   
Name[da]=Xcolsel
Name[de]=Xcolsel
Name[it]=Xcolsel
Name[lt]=Xcolsel
Name[no]=Xcolsel
Name[sv]=Xcolsel
Comment=X Color Selector
Comment[da]=X-farvevælger
Comment[de]=X Farbwahlprogramm
Comment[it]=Selettore colori X
Comment[lt]=X spalvø parinkiklis
Comment[no]=X-fargevelger
Comment[sv]=Färgväljare för X
TryExec=xcolsel
Exec=xcolsel
Icon=/usr/local/pixmaps/icon/palette.xpm
Terminal=false
MultipleArgs=false
Type=Application  
