[Desktop Entry]
Name=Xcolsel   
Name[cs]=Xcolsel
Name[da]=Xcolsel
Name[de]=Xcolsel
Name[el]=Xcolsel
Name[fi]=Xcolsel
Name[fr]=Xcolsel
Name[it]=Xcolsel
Name[lt]=Xcolsel
Name[nn]=Xcolsel
Name[no]=Xcolsel
Name[pt_BR]=Xcolsel   
Name[ro]=Xcolsel
Name[sk]=Xcolsel   
Name[sl]=Xcolsel  
Name[sv]=Xcolsel
Comment=X Color Selector
Comment[cs]=Výbìr barev X Window
Comment[da]=X-farvevælger
Comment[de]=Programm zur Auswahl von Farben unter X
Comment[el]=ÅðéëïãÝáò ÷ñþìáôïò ×
Comment[en_GB]=X Colour Selector
Comment[fi]=X-värivalitsin
Comment[fr]=Sélecteur de couleur X
Comment[it]=Selettore colori X
Comment[lt]=X spalvø parinkiklis
Comment[no]=X-fargevelger
Comment[pt_BR]=Seletor de Cores X
Comment[ro]=Selector de culoare X
Comment[sk]=Výber farieb X Window
Comment[sl]=Izbirnik barv X
Comment[sv]=Färgväljare för X
TryExec=xcolsel
Exec=xcolsel
Icon=/usr/local/pixmaps/icon/palette.xpm
Terminal=false
MultipleArgs=false
Type=Application  
