[Desktop Entry]
Name=XEmacs
Name[da]=XEmacs
Name[de]=XEmacs
Name[el]=XEmacs
Name[fi]=XEmacs
Name[fr]=XEmacs
Name[it]=XEmacs
Name[lt]=XEmacs
Name[no]=XEmacs
Name[pt_BR]=XEmacs
Name[ro]=XEmacs
Name[sk]=XEmacs
Name[sv]=XEmacs
Name[wa]=XEmacs
Comment=xemacs text editor
Comment[da]=xemacs teksteditor
Comment[de]=XEmacs Texteditor  
Comment[el]=Επεξεργαστής κειμένου XEmacs
Comment[fi]=XEmacs-editori
Comment[fr]=Ιditeur XEmacs
Comment[it]=Editor XEmacs
Comment[lt]=xemacs tekstψ editorius
Comment[no]=Xemacs teksteditor
Comment[pt_BR]=Editor de texto XEmacs
Comment[ro]=Editorul de texte Xemacs
Comment[sk]=Textovύ editor xemacs
Comment[sv]=xemacs textedito
Comment[wa]=L' aspougneu di tecsse xemacs
TryExec=xemacs
Exec=xemacs
Icon=/usr/local/pixmaps/icon/editor.xpm
Terminal=false
MultipleArgs=false
Type=Application
