[Desktop Entry]
Name=XEmacs
Name[da]=XEmacs
Name[no]=XEmacs
Name[de]=XEmacs
Comment=xemacs text editor
Comment[da]=xemacs teksteditor
Comment[no]=xemacs tekst-editor
Comment[de]=XEmacs Texteditor  
Exec=xemacs
Icon=/usr/local/pixmaps/icon/editor.xpm
Terminal=false
MultipleArgs=false
Type=Application
