[Desktop Entry]
Name=XEphem
Name[da]=XEphem
Name[de]=XEphem
Name[el]=XEphem
Name[fi]=XEphem
Name[fr]=XEphem
Name[it]=XEphem
Name[lt]=XEphem
Name[no]=XEphem
Name[sv]=XEphem
Comment=Ephemeris for X (Astronomy)
Comment[da]=Ephemeris til X (Astronomi)
Comment[de]=Ephemeris fόr X (Astronomie)
Comment[el]=Εφήμερο για X (Αστρονομία)
Comment[fi]=Ephemeris X:lle (Astronomia)
Comment[fr]=Ιphιmιride pour X (Astronomie)
Comment[it]=Ephemeris per X (Astronomia)
Comment[lt]=Ephemeris X'ams (Astronomija)
Comment[no]=Ephemeris for X (Astronomi)
Comment[sv]=Ephemeris fφr X (Astronomi)
Comment[wa]=Programe po carculer les efemerides (astronomeye)
TryExec=xephem
Exec=xephem
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
