[Desktop Entry]
Name=XEphem
Name[cs]=XEphem
Name[da]=XEphem
Name[de]=XEphem
Name[el]=XEphem
Name[fi]=XEphem
Name[fr]=XEphem
Name[it]=XEphem
Name[lt]=XEphem
Name[nn]=XEphem
Name[no]=XEphem
Name[pt_BR]=XEphem
Name[ro]=XEphem
Name[sk]=XEphem
Name[sl]=XEphem
Name[sv]=XEphem
Name[zh_TW.Big5]=XEphem
Comment=Ephemeris for X (Astronomy)
Comment[cs]=Efemeridy pro X (astromomie)
Comment[da]=Ephemeris til X (Astronomi)
Comment[de]=Ephemeris fόr X (Astronomie)
Comment[el]=Εφήμερο για X (Αστρονομία)
Comment[fi]=Ephemeris X:lle (Astronomia)
Comment[fr]=Ιphιmιride pour X (Astronomie)
Comment[it]=Ephemeris per X (Astronomia)
Comment[lt]=Ephemeris X'ams (Astronomija)
Comment[no]=Ephemeris for X (Astronomi)
Comment[pt_BR]=Ephemeris para X (Astronomia)
Comment[ro]=Ephemeris pentru X (Astronomie)
Comment[sk]=Ephemeris pre X (Astronσmia)
Comment[sl]=Ephemeris za X (astronomija)
Comment[sv]=Ephemeris fφr X (Astronomi)
Comment[wa]=Programe po carculer les efemerides (astronomeye)
Comment[zh_TW.Big5]=X ͺΊ Ephemeris (€Ρ€ε)
TryExec=xephem
Exec=xephem
Icon=/usr/share/pixmaps/gnome-default.png
Terminal=false
MultipleArgs=false
Type=Application 
