[Desktop Entry]
Name=XMcd
Name[cs]=XMcd
Name[da]=XMcd
Name[de]=XMcd
Name[el]=XMcd
Name[fi]=XMcd
Name[fr]=XMcd
Name[it]=XMcd
Name[lt]=XMcd
Name[nn]=XMcd
Name[no]=XMcd
Name[pt_BR]=XMcd
Name[ro]=XMcd
Name[sk]=XMcd
Name[sl]=XMcd
Name[sv]=XMcd
Comment=Motif CD player w/ CDDB support
Comment[cs]=Motif pøehrávaè CD s podporou CDDB
Comment[da]=Motif cd-afspiller med CDDB-understøttelse
Comment[de]=Motif CD-Player mit CDDB-Unterstützung
Comment[el]=ÁíáðáñáãùãÞ CD ìå õðïóôÞñéîç CDDB (Ýêäïóç motif)
Comment[fi]=Motif CD-soitin, joka tukee CDDB:tä
Comment[fr]=Lecteur de CD audio sous Motif avec support de CDDB
Comment[it]=Lettore CD Motif con supporto CDDB
Comment[lt]=Motif CD grotuvas, palaikantis CDDB
Comment[no]=Motif CD-spiller med CDDB-støtte
Comment[pt_BR]=Leitor de CD Motif com suporte a CDDB
Comment[ro]=CD Player Motif cu suport CDDB
Comment[sk]=Motif prehrávaè CD s podporou CDDB
Comment[sl]=Motif CD predvajalnik z CDDB podporo
Comment[sv]=Motif-cdspelare med CDDB-stöd
Comment[wa]=On djouweu di plakes lazer avou sopoirt CDDB (a mezåjhe di Motif)
TryExec=xmcd
Exec=xmcd
Icon=/usr/local/pixmaps/icon/xmcd.xpm
Terminal=false
MultipleArgs=false
Type=Application
