[Desktop Entry]
Name=XMcd
Name[da]=XMcd
Name[de]=XMcd
Name[fi]=XMcd
Name[it]=XMcd
Name[lt]=XMcd
Name[no]=XMcd
Name[sv]=XMcd
Comment=Motif CD player w/ CDDB support
Comment[da]=Motif cd-afspiller m/ CDDB-understøttelse
Comment[de]=Motif CD-Player mit CDDB-Unterstützung
Comment[fi]=Motif CD-soitin, joka tukee CDDB:tä
Comment[it]=Lettore CD Motif con supporto CDDB
Comment[lt]=Motif CD grotuvas, palaikantis CDDB
Comment[no]=Motif CD-spiller med CDDB-støtte
Comment[sv]=Motif CD-spelare med CDDB-stöd
TryExec=xmcd
Exec=xmcd
Icon=/usr/local/pixmaps/icon/xmcd.xpm
Terminal=false
MultipleArgs=false
Type=Application
