[Desktop Entry]
Name=SMix
Name[pt_BR]=SMix
Name[da]=SMix
Name[de]=SMix
Name[el]=SMix
Name[fi]=SMix
Name[fr]=SMix
Name[it]=SMix
Name[lt]=SMix
Name[no]=SMix
Name[sv]=SMix
Comment=Audio mixer
Comment[pt_BR]=Mixador de Áudio
Comment[da]=Lyd-mixer
Comment[de]=Audio Mixer
Comment[el]=Ìßêôçò Þ÷ïõ
Comment[fi]=Mikseri
Comment[fr]=Mixer audio
Comment[it]=Mixer Audio
Comment[lt]=Garso mikðeris
Comment[no]=Lyd-mikser
Comment[sv]=Ljudmixer
TryExec=smix
Exec=smix
Icon=/usr/share/pixmaps/gnome-mixer.png
Terminal=false
MultipleArgs=false
Type=Application 
