[Desktop Entry]
Name=SMix
Name[da]=SMix
Name[fi]=SMix
Name[lt]=SMix
Name[no]=SMix
Name[de]=SMix
Name[it]=SMix
Name[sv]=SMix
Comment=Audio mixer
Comment[da]=Lyd-mixer
Comment[fi]=Mikseri
Comment[lt]=Garso mikðeris
Comment[no]=Lyd-mikser
Comment[de]=Audio Mixer
Comment[it]=Mixer Audio
Comment[sv]=Ljudmixer
TryExec=smix
Exec=smix
Icon=/usr/share/pixmaps/gnome-mixer.png
Terminal=false
MultipleArgs=false
Type=Application 
