[Desktop Entry]
Name=xv
Name[da]=xv-billedviser
Name[no]=xv-bildviser  
Name[de]=xv
Name[it]=xv
Namn[sv]=xv
Comment=xv image viewer
Comment[da]=xv-billedfremviser
Comment[de]=xv-Bildbetrachter 
Comment[it]=XV vis. immagini
Comment[sv]=xv-bildvisare
TryExec=xv
Exec=xv
Icon=/usr/local/pixmaps/mini/xv.xpm
Terminal=false
MultipleArgs=false
Type=Application 
