[Desktop Entry]
Name=xv
Name[da]=xv-billedviser
Name[de]=xv
Name[el]=xv
Name[fi]=xv
Name[fr]=xv
Name[it]=xv
Name[lt]=xv
Name[no]=xv-bildviser  
Namn[sv]=xv
Comment=xv image viewer
Comment[da]=xv-billedfremviser
Comment[de]=Der Bildbetrachter xv
Comment[el]=Προβολή εικόνων xv
Comment[fi]=xv-kuvankatseluohjelma
Comment[fr]=Visualiseur d'images xv
Comment[it]=XV vis. immagini
Comment[lt]=xv atvaizdψ ώiϋriklis
Comment[sv]=xv-bildvisare
TryExec=xv
Exec=xv
Icon=/usr/local/pixmaps/mini/xv.xpm
Terminal=false
MultipleArgs=false
Type=Application 
