image: fedora:rawhide

variables:
  DEPENDENCIES: gtk3-devel gsettings-desktop-schemas-devel gettext
                gtk-doc xkeyboard-config-devel intltool itstool
                gobject-introspection-devel systemd-devel iso-codes-devel
                libseccomp-devel gcc gcc-c++ glibc-devel gnome-common
                make redhat-rpm-config
  TEST_DEPENDENCIES: gnome-desktop-testing xorg-x11-server-Xvfb glibc-langpack-he

build_stable:
  before_script:
    # Work-around https://bugzilla.redhat.com/show_bug.cgi?id=1607172#c4
    - echo "update dnf gdbm" >> translist.txt
    - echo "remove python3-modulemd" >> translist.txt
    - dnf shell -y --nogpgcheck translist.txt
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck $DEPENDENCIES
    - dnf install -y --nogpgcheck $TEST_DEPENDENCIES
    # Work-around itstool crasher: https://github.com/itstool/itstool/commit/9b84c007a73e8275ca45762f1bfa3ab7c3a852e2
    - rpm -Uvh https://kojipkgs.fedoraproject.org//work/tasks/3068/28763068/itstool-2.0.4-4.fc29.noarch.rpm
  script:
    - mkdir build
    - cd build
    - ../autogen.sh --disable-dependency-tracking --enable-installed-tests --prefix=/usr
    - make
    - make install
    - make check
    - xvfb-run -a -s "-screen 0 1024x768x24"
                     gnome-desktop-testing-runner --report-directory=test-results gnome-desktop
  artifacts:
    paths:
      - tests-results
    when: on_failure
