image: fedora:rawhide

variables:
  DEPENDENCIES: gtk3-devel gsettings-desktop-schemas-devel gettext
                gtk-doc xkeyboard-config-devel intltool itstool
                gobject-introspection-devel systemd-devel iso-codes-devel
                libseccomp-devel gcc gcc-c++ glibc-devel gnome-common
                meson redhat-rpm-config
  TEST_DEPENDENCIES: gnome-desktop-testing xorg-x11-server-Xvfb glibc-langpack-he glibc-langpack-en abattis-cantarell-fonts

build_stable:
  before_script:
    # Work-around https://bugzilla.redhat.com/show_bug.cgi?id=1607172#c4
    - echo "update dnf gdbm" >> translist.txt
    - echo "remove python3-modulemd" >> translist.txt
    - dnf shell -y --nogpgcheck translist.txt
    - dnf update -y --nogpgcheck
    - dnf install -y --nogpgcheck $DEPENDENCIES
    - dnf install -y --nogpgcheck $TEST_DEPENDENCIES
  script:
    - meson --prefix=/usr -Dinstalled_tests=true build
    - cd build
    - ninja
    - ninja install
    - xvfb-run -a -s "-screen 0 1024x768x24" ninja test
    - xvfb-run -a -s "-screen 0 1024x768x24"
                     gnome-desktop-testing-runner --report-directory=test-results gnome-desktop
  artifacts:
    paths:
      - build/meson-logs/
      - build/test-results/
    when: on_failure
